*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(99, 118, 110);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.co{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: auto;
}
.co .head{
    margin-bottom: 20px;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}
.content{
    width: 500px;
    height: 300px;
    background-color: rgb(229, 229, 229);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#timer{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 30px auto;
    padding: 32px;
}
.button{
    text-align: center;
}
button{
    border: none;
    margin: 0px 20px;
    cursor: pointer;
}
#startbtn{
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}
#pause{
    background-color: orange;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}
#reset {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 480px) {
    .content{
        width: 300px;
        height: 200px;
    }
    #timer{
         width: 70%;
        font-size: 52px;
        text-align: center;
        margin: 20px auto;
        padding: 20px;
    }
    #startbtn{
        font-size: 15px;
        padding: 6px;
    }
    #pause{
        font-size: 15px;
        padding: 6px;
    }
    #reset{
        font-size: 15px;
        padding: 6px;
    }
    button{
        margin: 0px 10px;
}
    
}

